h1 {
  font-family: 'Ubuntu', sans-serif;
  
}

body {
  background-color: #AFEEEE;
  text-align: center;
}

/* CONTAINER STYLING */
.container {
  display: flex;
}

.panel {
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  width: 5%;
  position: relative;
  margin: 15px;
  transition: 0.8s ease-in;
}
.panel img{
    max-width: 100%;
    height: 80vh;
    display: block;
    border-radius: 50px;
}

.panel h3 {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
    width: 70%;
}
.panel .active img{
  width: 70%;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width:769px){
  .container {
      flex-direction: column;
  }
  .panel img{
    height: 20vh;
    max-width: 100%;
    display: block;
    border-radius: 50px;
  }
}